<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/mobilestyles.css">
  <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
  <div class="mobile-topbar">
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
  <div class="container-fluid">
    <div class="mobile-pu-logo">
     
      <img src="https://www.facultyplus.com/wp-content/uploads/2022/10/pu-logo.png" style=" margin-bottom: 5px; margin-top: 5px; height:80px;  width: 80px;">
    
     <!-- <div class="col-lg-6"> -->
 </div>
      <span style="color: white;">
       <ul type="none" style="
    padding-left: 10px;
    margin-bottom: 0px;
">
        <li style="font-size: 1.3rem; font-weight: bold; font-family:Inter-Bold;">  
        Panjab University</li>
        <li style="font-size:0.7rem">Established under the Panjab University Act VII of 1947</li>
          <li style="font-size:0.7rem">enacted by the Governmant of India</li>
        </ul>
      </span>
      
       
    
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Student Records</a>
          <ul class="dropdown-menu dropdown-menu-sw">
            <li><a class="dropdown-item" href="personal_details">Fees</a></li>
            <li><a class="dropdown-item" href="#">Results</a></li>
            <li><a class="dropdown-item" href="#">Enrollment details</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Edit Student details</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Notices</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <img src="images/profile_img.png" style="width:40px; height: 40px;">
          </a>
          <ul class="dropdown-menu dropdown-menu-sw">
            <li class="dropdown-item">Signed in as Admin</li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="personal_details">View</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </div>
  </div>
 
</nav>
</div>
