.background_area
{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat; 
    filter: blur(3px);
    overflow: hidden;
    overscroll-behavior: auto;
}
.center_content
{
    position: absolute;
    left: 40vw;
    top: 30vh;
    font-size: xx-large;
    color: white;
}