<%- include('includes/admin_navbar.ejs') %>
<!-- notice board -->
<div class="notice-board">
<center><h3>Notice Board</h3></center>
<p>No post to display</p>
<a href="#" class="view-more" aria-label="View More" title="View More">View More</a>
</div>  




<!-- footer -->
<div class="footer"></div>
<%- include('includes/bottom.ejs') %>