<%- include('includes/navbar.ejs') %>
<!-- notice board + profile-->
<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center" style="border-bottom-width: 2px; border-color:#B20600;">
              <img class="profile_img" src="images/profile_img.png" alt="profile icon">
              <h3>Student Info.</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">Student ID:</strong>321000001</p>
              <p class="mb-0"><strong class="pr-1">Class:</strong>4</p>
              <p class="mb-0"><strong class="pr-1">Department:</strong>Physics</p>
              <p class="mb-0"><strong class="pr-1">DOB:</strong>26/11/2005</p>
              <p class="mb-0"><strong class="pr-1">Contact:</strong>9998839390</p>
              <p class="mb-0"><strong class="pr-1">Mail:</strong>Randommail@gmail.com</p>
              <p class="mb-0"><strong class="pr-1">Address:</strong>Hno.4/4 ameer gali, bambai</p>
            </div>
          </div>
        </div>
        <!-- here -->
        <div class="notice-board">
          <center><h3>Notice Board</h3></center>
          <p>No post to display</p>
          <a href="#" class="view-more" aria-label="View More" title="View More">View More</a>
          </div> 
      </div>
    </div>
  </div>
  
<%- include('includes/bottom.ejs') %>