<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="css/styles.css">
<title>Portal</title>
</head>
<body>
<!-- <img src="pu.jpg" class="bImage"> -->


<div class="background_area" style="background-image: url('images/pu.jpeg');"></div>
<div class="center_content">
<div class="row">
  <div class="col-lg-6 pu-logo">
    <center>
      <img src="images/pu-logodark.png" class="pu-logo-img" alt="PU logo">
      <p class="phd">Ph.D Admissions</p>
    </center>
  </div>
  <div class="card col-lg-6">

 
    

 
    
    <center>  
 
    <div class="heading">Student Portal </div>    
     <!-- <h3 class="card-subtitle">Sign In</h3> -->
     <form id="signin" action="index.html" method="POST">

     <input type="text"  id="userID" name="userID" placeholder="Enter User ID" class="input_text_line"></input> <br>
     <input type="password" id="password" name="password" placeholder="Password" required onautocomplete="off" class="input_text_line"> <br>
     <button type="submit" class="login-button" onclick="signIn()">LOG IN</button>
    

      
   






  </form>  

  <p class="register">Don't have an account&nbsp;&nbsp; <a  href="registration.html" class="font-bold register_button" onclick="loadSignUp()"> <u> Register</u></a></p>




</center>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>