body {
  /*    padding: 25px;*/
  margin: 0px;
  font-family: 'Lato', sans-serif;
  color: #000;
}

.student-profile .card {
  border-radius: 10px;
  background-color: #FBE3E3;

}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #B20600;
  border-radius: 100%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.mobile-topbar {

  background-color: #0A2647;

}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.nav-link{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  /*    font-weight: bold;*/
  font-size: 1.1rem;
  font-family: Inter-Bold;
}

/* a:hover
{
  color: ;
} */
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: #fff;
  border: 0;
  color: black;
}
.view-more{
  color: white;
  text-decoration: none;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  /*    color: #212529;*/
  text-align: left;
  list-style: none;
  /*    background-color: rgb(53, 53, 53);*/
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0.25rem;
}

.student {
  position: relative;
  left: 50rem;
}

.dropdown-menu-sw {
  left: auto;
  right: 0;
}

.card {
  position: relative;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
  border: 2px solid #B20600;

}

tr {
  display: table-row;
  vertical-align: inherit;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: #B20600;
}

.colon {
  font-weight: 1000;
}

.notice-board {
  margin-left: 20px;
  width: 50vw;
  height: 22vh;
  /*border-style:solid;
    border-width: 2px;*/
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #FBE3E3;
  border:2px solid #B20600;
}

.notice-board h3 {
  background-color: #B20600;
  color: white;
  border-radius: 5px;
}

.view-more {
  /* width:68vw;
    height:20vw ; */
  background-color: #B20600;
  /*        margin-left: 5px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-radius: 5px;
}

.dropdown-menu-sw {
  left: auto;
  right: 0;
}

.view-more:hover {
  color: black;
}

.nav-item {
  margin-right: 0.5vw;
}
@media screen and (max-width:768px) {
  .notice-board {
    margin-top: 20px;
    width: 90vw;
    height: 16vh;
    /*border-style:solid;
    border-width: 2px;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FBE3E3;
  }
}
@media screen and (max-width:700px) {
  .notice-board {
    margin-top: 20px;
    width: 88vw;
    height: 16vh;
    /*border-style:solid;
    border-width: 2px;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FBE3E3;
  }
}
@media screen and (max-width:500px) {
  .notice-board {
    margin-top: 20px;
    width: 90vw;
    height: 16vh;
    /*border-style:solid;
    border-width: 2px;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FBE3E3;
  }
}
/* @media screen and (max-width:992px) {
  .notice-board {
    margin-top: 20px;
    width: 70vw;
    height: 22vh;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FBE3E3;
  }
} */

@media screen and (min-width:992px) {
  .dropdown-menu:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    background-color: #fff;
    /*    right: 16px;*/
    left: 137px;
    top: -7px;
    transform: rotate(45deg);


  }
}

@media screen and (min-width:1070px) {
  .dropdown-menu:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    background-color: #fff;
    /*    right: 16px;*/
    left: 137px;
    top: -7px;
    transform: rotate(45deg);
  }
}

@media screen and (min-width:1200px) {
  .dropdown-menu:before {
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    background-color: #fff;
    /*    right: 16px;*/
    left: 137px;
    top: -7px;
    transform: rotate(45deg);


  }
}