.topbar
{
	
	background-color: #0A2647;

}
.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.topbar a{
	    color: #fff;
    text-decoration: none;
    background-color: transparent;
/*    font-weight: bold;*/
    font-size: 1.1rem;
    font-family: Inter-Bold;
}
/* a:hover
{
	color: ;
} */
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: #fff;
        border: 0;
    color: black;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
/*    color: #212529;*/
    text-align: left;
    list-style: none;
/*    background-color: rgb(53, 53, 53);*/
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.5rem;
}

.student
{
	position: relative;
	left:50rem;
}
.syllabus
{
    margin-top: 40px;
    margin-left: 20px;
    margin-right:20px;
    /*border-style:solid;
    border-width: 2px;*/
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FBE3E3;
}

.syllabus h3
{
    background-color:#B20600;
    color: white;
    border-radius:5px;
    padding: 5px;
}
.listofsyllabi
{
padding:40px;




}

.dropdown-menu-sw {
    left: auto;
    right: 0;
}
.flex-container
{
    display:flex;
    flex-direction:row;
    padding-top:10px;

/*    height:100vh;*/
}
#flex-item-1
{
width:180px;
height: 100vh;
align-self: stretch;
/*background-color: blue;*/
border: 1.5px solid black;
  box-shadow: 2px 2px 2px 4px rgb(53, 43, 43,0.4);

/*border:2px;*/
}
#flex-item-1 h3
{
font-size:1rem ;
padding: 5px;
background-color:#B20600 ;
color: #fff;
}
#flex-item-1 li{

padding: 5px;

}
#flex-item-1 a{
    color: #004F9D;
    font-weight: bold;
    font-size: 1rem;

}
#flex-item-1 a:hover{
    color: orangered;
    font-weight: bold;
    font-size: 1rem;

}
#flex-item-2
{
    margin-left: 30px;
    border: 1px solid #B6B6B6;
/*    height: 100vh;*/
   
}
#flex-item-2 h3
{
    font-size: 1.6rem;
    padding: 5px;
    background-color: #B20600;
    color: #fff;

}
@media screen and (max-width:600px) {
    .flex-container{
        flex-direction: column;
    }
    #flex-item-1
    {
    width:98vw;
    height:28vh;
    align-self: stretch;
    margin-left:1vw;
    /*background-color: blue;*/
    border: 1.5px solid black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    border-radius: 0 0 2vh 2vh;
    /*border:2px;*/
    }
    li{
        list-style: none;
    }
    #flex-item-2{
        border-radius: 1vh 1vh 0 0; 
        margin-left:0;
        margin-top: 15px;
    }
}
@media screen and (min-width:992px) {
    .profile-option{
        margin-left: 55vw;
    }

.dropdown-menu:before
{
    position:absolute;
    content: '';
    height: 13px;
    width: 13px;
    background-color:#fff;
    /* right: 16px;*/
    left: 137px;
   top:-7px;
   transform: rotate(45deg);
 }
}
@media screen and (min-width:1070px) {
    .profile-option{
        margin-left: 60vw;
    }
    .dropdown-menu:before
{
    position:absolute;
    content: '';
    height: 13px;
    width: 13px;
    background-color: #fff;
/*    right: 16px;*/
    left: 137px;
   top:-7px;
   transform: rotate(45deg);


 }
}
@media screen and (min-width:1200px) {
    .profile-option{
        margin-left: 65vw;
    }
    .dropdown-menu:before
{
    position:absolute;
    content: '';
    height: 13px;
    width: 13px;
    background-color: #fff;
/*    right: 16px;*/
    left: 137px;
   top:-7px;
   transform: rotate(45deg);


 }
}

